body {
	font-family: "Times New Roman", Times, serif;
	max-width: 920px;
	margin: auto;
	text-align: justify;
}

.error {
	color: red;
	font-size: 16pt;
}

span + span {
	margin-left: 6px;
}

/* Nav bar */

ul.nav {
	list-style-type: none;
	margin-top: 12px;
	margin-bottom: 12px;
	padding: 0;
	overflow: hidden;
	border-radius: 5px;
	background-color: #3570a5;
	font-size: 18pt;
}
li.nav {
	display: block;
	float: left;
	text-align: center;
}
li.nav a {
	display: inline-block;
	color: white;
	text-decoration: none;
	padding: 10px 14px 10px 16px;
}
li.nav:hover:not(.active) {
	background-color: #5085c0;
}
li.nav.active {
	color: white;
	background-color: #b05050;
	padding: 10px 14px 10px 16px;
}

/* Tables */

table {
	border-collapse: collapse;
	font-size: 16pt;
	width: 100%;
}
tr { 
	border: solid;
	border-width: 1px 0;
}
tr:first-child {
	border-top: none;
}
tr:last-child {
	border-bottom: none;
}
td {
	vertical-align: baseline;
	padding: 6px 0 6px 6px;
}
td:first-child {
	width: 100%;
}

/* Buttons */

button {
	font-size: 12pt;
	padding: 8px 10px;
	border: 1px solid black;
	border-radius: 3px;
}
button.create {
	color: white;
	background-color: #2ebc29;
}
button.edit {
	color: white;
	background-color: #428bca;
}
button.delete {
	color: white;
	background-color: #d43f3a;
}
button:disabled {
	color: #fff;
	background-color: #ccc;
	border-color: #555;
}

/* Text inputs */

input {
	font-family: inherit;
	font-size: 14pt;
	padding: 6px 8px;
	border: 1px solid black;
	border-radius: 3px;
}
input:disabled {
	color: inherit;
	background-color: inherit;
	border-color: transparent;
	display: inline;
	padding: none;
	width: auto;
	cursor: text;
}

/* Vue */

[v-cloak] {
	display: none
}
