<html  lang="en">
<head>
	<meta charset="utf-8">

	<title>Translatabase</title>
	<meta name="description" content="Custom translation database.">
	<meta name="author" content="Jonathan Sharman">

	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="app">
		<ul class="nav">
			<li class="nav"><a href="/langs.html">Languages</a></li>
			<li class="nav active">Word Classes</a></li>
			<li class="nav"><a href="/lemmas.html">Lemmas</a></li>
			<li class="nav"><a href="/translations.html">Translations</a></li>
		</ul>
		<div>
			<template v-for="lang in langs">
				<label v-bind:for="lang.name" name="lang" class="big">
					<input v-bind:id="lang.name" type="radio" name="lang" class="big">
					{{ lang.name }}
				</label>
			</template>
		</div>
		<div>
			<input id="class-input" class="big">
			<button id="add-class" class="big" onclick="post_class()">Add Word Class</button>
			<span id="invalid-class" class="error big">Invalid word class.</span>
		</div>
		<div>
			<span v-cloak v-for="word_class in word_classes" class="big">
				{{ word_class.name }}
			</span>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
	<script src="word_classes.js"></script>
</body>
</html>
